.Genre {
  padding: 1.2rem;
  background-color: #eadbd6;
  min-height: 100vh;
}

.genre-title {
  margin: 0;
  margin-bottom: 1.5rem;
  font-size: 2.6rem;
  font-weight: normal;
  text-transform: capitalize;
}

/* Book List Container */
.genre-books {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Book Item Styling (like feed-book) */
.genre-book {
  border: 1px solid black;
  padding: 0.7rem;
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.genre-book > img {
  width: 35%;
}

.genre-book-text {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

.genre-book-text > h2 {
  font-weight: bold;
}

.genre-book-text > h2,
.genre-book-text > p {
  margin: 0;
  font-size: 1.1rem;
}

/* Interest Button */
.genre-book-button > button {
  padding: 0.5rem;
  font-size: 1.1rem;
  width: min-content;
  background-color: #38261e;
  color: #ff9700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.genre-book-button > button:hover {
  background-color: #fceacf;
}

/* No Books Fallback */
.no-books {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 2rem;
}


.nav-item {
  color: #ff9700;
  font-size: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-item:hover {
  color: #fceacf;
}