.ByCategory {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #eadbd6;
  font-family: Arial, sans-serif;
}
  
  /* Title */
  .titlebox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: #38261e;
    margin-top: 0;

  }
  .back-btn {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ff9700;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  

  
  .title {
    font-size: 2.2rem;
    font-weight: bold;
    color: #ff9700;
    margin-left: 15px; /* Space between back button and text */
  }
  
  /* Category List */
  .list {
    width: 80%;
    max-width: 400px;
    height: 55vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 10px 10px 20px 10px;
    overflow-y: auto;
    border-radius: 12px;
    background: #eadbd6;
    flex-grow: 1;
  }
  
  .category-btn:hover {
    background: #fceacf;
  }
  

  