/* Page Container */
.Popular {
    padding: 1.2rem;
    background-color: #eadbd6;
    min-height: 100vh;
}

/* Title */
.popular-title{
    margin: 0;
    margin-bottom: 1.5rem;
    font-size: 2.6rem;
    font-weight: normal;
    text-transform: capitalize;
}

/* Book List */
.popular-books{
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Book Item */
.popular-book{
    border: 1px solid black;
    padding: 0.7rem;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Image */
.popular-book img{
    width: 35%;
}

/* Text Info */
.popular-book-text{
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

.popular-book-text > h2{
    font-weight: bold;
}

.popular-book-text > h2,
.popular-book-text > p{
    margin: 0;
    font-size: 1.1rem;
}

/* Interest Button */
.interest-btn {
    padding: 0.5rem;
    font-size: 1.1rem;
    width: min-content;
    background-color: #38261e;
    color: #ff9700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.interest-btn:hover {
    background-color: #fceacf;
}

/* No Data Message */
.no-books {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 2rem;
}