.Feed {
    padding: 1.2rem;
}

.feed-title {
    margin: 0;
    margin-bottom: 1.5rem;
    font-size: 2.6rem;
    font-weight: normal;
}

.feed-book {
    border: 1px solid black;
    padding: 0.7rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feed-book > img {
    width: 35%;
}

.feed-book-text {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

.feed-book-text > h2, .feed-book-text > p {
    margin: 0;
    font-size: 1.1rem;
}

.feed-book-button > button {
    padding: 0.5rem;
    font-size: 1.1rem;
    width: min-content;
}