.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eadbd6;
}

.login-form {
    padding: 1.5rem;
    border-radius: 0.8rem;
    background-color: white;
}

.login-form input {
    margin-bottom: 1rem;
    border: 1px solid black;
}

.login-form label {
    margin-right: 0.5rem;
}

.form-button {
    padding: 0.8rem;
    border: 1px solid black;
    background-color: white;
}