nav {
    text-align: center;
    background-color: rgb(97, 46, 7);
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-item {
    display: flex;
    font-size: auto;
    margin: auto;
    text-decoration: none;
}