.userpage-header {
    height: 3.5rem;
    display: flex;
    align-items: center;
    position: relative;
}

.messageUserBtn {
    background-color: #ffffff;
    border: 2px solid #38261e;
    color: #38261e;
    padding: 6px 16px;
    border-radius: 9999px; /* This creates the pill shape */
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}